<div class='row'>
  <div class='col-6 mx-auto text-center'>
    <h1 class='mb-5'>Creador de Color</h1>
    <input type='text' value='30' class='knob' data-fgColor='red'>
    <input type='text' value='30' class='knob' data-fgColor='green'>
    <input type='text' value='30' class='knob' data-fgColor='blue'>

    <h1 id='colorRGB' class='my-5'></h1>
    <div id='box' class='mx-auto mt-3' style='width: 600px; height:300px'></div>
  </div>
</div>